* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Jost;
}

img {
    max-width: 100%;
}

.container {
    width: 1910px;
    margin: 0 auto;
}

.header {
    display: flex;
    background-color: #141024;
    padding: 30px 100px;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: white;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
}

.number a {
    color: white;
    text-decoration: none;
    justify-content: right;
}

.number {
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
}

.promo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #141024;
    gap: 200px;
}

.promo_text h1 {
    font-family: Jost;
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.promo_text p {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: white;
    margin-bottom: 50px;
}

button {
    padding: 25px 54px 25px 54px;
    background-color: red;
    color: white;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
}

.img {
    margin-top: 70px;
}

.text {
    display: flex;
    align-items: center;
    width: 891px;
    height: 144px;
    left: 380px;
    opacity: 0px;
    margin-top: 105px;
    margin-left: 380px;
    margin-bottom: 60px;
}

.text p {
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;

}

.block {
    display: flex;
    align-items: center;
    margin-left: 380px;
}

.box_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 40px;
}

.box_elem h2 {
    font-family: Jost;
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    text-align: center;
    color: red;
    margin-top: 60px;
    text-align: left;
}

.box_elem p {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 260px;
}

h3 {
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 105px;
    margin-bottom: 60px;
    margin-left: 380px;
}

.block_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1160px;
    height: 786px;
    top: 1679px;
    left: 380px;
    margin-left: 380px;
}

.block_elem {
    text-align: left;
}

.block_elem h4 {
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.block_elem p {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}

.block_elem a {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: red;
    text-decoration: none;
}

.footer {
    background-color: #141024;
    padding: 30px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    margin: 40px 100px;
}
.footer_box h5 {
    font-size: 16px;
    margin-top: 10px;
    color: white;
}
.footer_box a {
    text-decoration: none;
}